<div class="cstmContainer">
    <div class="row">
        <div class="col-sm-6">
            <div class="logoBox">
                <img src="assets/logo.png" alt="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="w-100 d-flex justify-content-end align-items-center">
                <fa-icon class="git" [icon]="faGithub" size="2x" animation="beat"></fa-icon>
                <fa-icon class="linked" [icon]="faLinkedinIn" size="2x" animation="beat"></fa-icon>
            </div>
        </div>
    </div>
</div>