<div class="main">
  <div class="container">
    <div class="fixedHeader">
      <app-header></app-header>
    </div>
    <div class="fixedRow" id="fixedRow">
      <div class="row">
        <div class="col-sm-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4">
          <div class="sideNav">
            <ul>
              <li routerLink="/">Home</li>
              <li routerLink="/skills">Skills</li>
              <li routerLink="/skills">Resume</li>
              <li routerLink="/skills">Contact Me</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>